@keyframes fade-in {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bg,
.icon {
    position: absolute;
}

.bg {
    top: calc(50% - 1708.9px);
    left: calc(50% - 701.9px);
    background-color: #fdfaf6;
    width: 1403.8px;
    height: 4515.4px;
}

.icon {
    top: 0;
    left: 0;
    width: 6904px;
    height: 5178px;
    object-fit: cover;
}

.cta-child {
    height: 100%;
    width: 129.19%;
    top: 0;
    right: -29.19%;
    bottom: 0;
    left: 0;
}

.cta-child,
.cta-item,
.vector-icon {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.cta-item {
    height: 146.12%;
    width: 18.3%;
    top: 7.71%;
    right: 9.97%;
    bottom: -53.84%;
    left: 71.73%;
    opacity: 0.2;
    mix-blend-mode: normal;
}

.vector-icon {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.vector-icon1,
.vector-icon2,
.vector-icon3,
.vector-icon4,
.vector-icon5 {
    position: absolute;
    height: 5.88%;
    width: 3.55%;
    top: 36%;
    right: 58.27%;
    bottom: 58.12%;
    left: 38.18%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon2,
.vector-icon3,
.vector-icon4,
.vector-icon5 {
    height: 6%;
    width: 3.07%;
    top: 46.82%;
    right: 61.82%;
    bottom: 47.18%;
    left: 35.11%;
}

.vector-icon3,
.vector-icon4,
.vector-icon5 {
    height: 5.53%;
    width: 4.37%;
    top: 70%;
    right: 59.69%;
    bottom: 24.47%;
    left: 35.93%;
}

.vector-icon4,
.vector-icon5 {
    height: 5.76%;
    width: 4.49%;
    top: 25.76%;
    right: 36.05%;
    bottom: 68.47%;
    left: 59.46%;
}

.vector-icon5 {
    height: 5.88%;
    width: 3.43%;
    top: 36%;
    right: 31.8%;
    bottom: 58.12%;
    left: 64.78%;
}

.vector-icon10,
.vector-icon6,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
    position: absolute;
    height: 5.76%;
    width: 2.01%;
    top: 58.59%;
    right: 27.9%;
    bottom: 35.65%;
    left: 70.09%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon10,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
    height: 7.29%;
    width: 2.6%;
    top: 84.47%;
    right: 45.51%;
    bottom: 8.24%;
    left: 51.89%;
}

.vector-icon10,
.vector-icon8,
.vector-icon9 {
    height: 5.76%;
    width: 2.01%;
    top: 58.59%;
    right: 63.71%;
    bottom: 35.65%;
    left: 34.28%;
}

.vector-icon10,
.vector-icon9 {
    height: 6%;
    width: 2.96%;
    top: 46.82%;
    right: 28.84%;
    bottom: 47.18%;
    left: 68.2%;
}

.vector-icon10 {
    height: 5.76%;
    width: 4.49%;
    top: 25.76%;
    right: 52.96%;
    bottom: 68.47%;
    left: 42.55%;
}

.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon15 {
    position: absolute;
    height: 5.53%;
    width: 4.37%;
    top: 70%;
    right: 29.55%;
    bottom: 24.47%;
    left: 66.08%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon15 {
    height: 53.53%;
    width: 30.38%;
    top: 23.41%;
    right: 31.68%;
    bottom: 23.06%;
    left: 37.94%;
}

.vector-icon13,
.vector-icon14,
.vector-icon15 {
    height: 0.94%;
    width: 6.5%;
    top: 82.59%;
    right: 43.5%;
    bottom: 16.47%;
    left: 50%;
}

.vector-icon14,
.vector-icon15 {
    width: 12.06%;
    top: 78.82%;
    right: 40.78%;
    bottom: 20.24%;
    left: 47.16%;
}

.vector-icon15 {
    width: 8.87%;
    top: 80.71%;
    right: 42.32%;
    bottom: 18.35%;
    left: 48.82%;
}

.group {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 84.6px;
    height: 85px;
    top: -72px;
}

.vector-icon16,
.vector-icon17 {
    position: relative;
    width: 6.9px;
    height: 6.9px;
    margin-top: -80px;
}

.vector-icon17 {
    width: 3.3px;
    height: 3.7px;
}

.capa-1,
.capa-1-wrapper,
.vector-icon18 {
    position: absolute;
    width: 87px;
    height: 85px;
}

.capa-1 {
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4.572105407714844px 2.3614349365234375px 0 0;
    box-sizing: border-box;
    opacity: 0;
}

.capa-1.animate,
.capa-12.animate,
.email-coworking-light.animate {
    animation: 1s ease 0s 1 normal forwards fade-in;
    justify-content: center;
}

.capa-1-wrapper,
.vector-icon18 {
    top: 139px;
    left: 140.7px;
}

.vector-icon18 {
    height: 5.06%;
    width: 4.48%;
    top: 80.12%;
    right: 21.88%;
    bottom: 14.82%;
    left: 73.65%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.capa-1-container,
.capa-11 {
    position: absolute;
    width: 96px;
    height: 85px;
}

.capa-11 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 0;
    left: 0;
    overflow: hidden;
}

.capa-1-container {
    top: 139px;
    left: 238.2px;
}

.group-icon1,
.vector-icon19 {
    position: absolute;
    height: 98.77%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 1.23%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon19 {
    height: 5.19%;
    width: 4.67%;
    top: 94.81%;
    right: 8.78%;
    bottom: 0;
    left: 86.56%;
}

.capa-1-frame,
.capa-12 {
    position: absolute;
    width: 90px;
    height: 81px;
}

.capa-12 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
}

.capa-1-frame {
    top: 143px;
    left: 344.7px;
}

.si-quieres-saber {
    margin: 0;
}

.become-a-member-container {
    position: absolute;
    width: 77.3%;
    top: calc(50% - 94.1px);
    left: 6.8%;
    line-height: 113.56%;
    display: inline-block;
    height: 161.7px;
}

.cta {
    align-self: stretch;
    position: relative;
    height: 245px;
    overflow: hidden;
    flex-shrink: 0;
    display: inline-flex;
    width: 100%;
}

.bg1,
.frame {
    position: absolute;
}

.frame {
    top: 4185px;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 100%;
    background-color: #faf1e6;
}

.bg1 {
    height: 100%;
    width: 116.58%;
    top: 0;
    right: -8.29%;
    bottom: 0;
    left: -8.29%;
    background-color: var(--color-gray-200);
}

.copyright-2021 {
    position: absolute;
    width: 32.83%;
    top: calc(50% + 66.5px);
    left: 59.84%;
    line-height: 16px;
    display: inline-block;
}

.line {
    position: absolute;
    height: 0.53%;
    width: 87%;
    top: 78.31%;
    right: 6.5%;
    bottom: 21.16%;
    left: 6.5%;
    background-color: #72737a;
}

.footer-child {
    position: absolute;
    height: 23.65%;
    top: 39.1%;
    right: 88.58%;
    bottom: 37.25%;
    left: 7.31%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.footer {
    align-self: stretch;
    position: relative;
    height: 189px;
    overflow: hidden;
    flex-shrink: 0;
}

.frame1,
.frame2 {
    position: absolute;
    overflow: hidden;
}

.frame1 {
    top: 4430px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #86878d;
    font-family: var(--font-roboto);
    width: 100%;
}

.frame2 {
    top: 65px;
    left: 769.8px;
    background-color: rgba(15, 17, 28, 0.2);
    width: 530.3px;
    mix-blend-mode: normal;
}

.find-out-what,
.find-out-what1 {
    position: relative;
    line-height: 97.3%;
    display: inline-block;
    width: 303.2px;
}

.find-out-what1 {
    font-size: var(--font-size-base);
    font-weight: 600;
}

.delivering-newslette {
    position: relative;
    font-size: var(--font-size-2xs);
    line-height: 20px;
    font-family: var(--font-poppins);
    color: var(--color-gray-100);
    text-align: justify;
    display: inline-block;
    width: 326px;
}

.content {
    width: 326px;
    height: 301px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3.1318845748901367px 0 0;
    box-sizing: border-box;
    gap: var(--gap-6xs);
}

.image-icon {
    position: relative;
    width: 228.1px;
    height: 256.9px;
    object-fit: cover;
}

.frame3,
.frame4 {
    display: flex;
    align-items: center;
}

.frame4 {
    width: 596px;
    height: 301px;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--gap-22xl);
}

.frame3 {
    position: absolute;
    top: 1667px;
    width: 606.3px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

.delivering-newslette1 {
    position: absolute;
    width: 100%;
    top: calc(50% - 88.7px);
    left: 0;
    line-height: 20px;
    font-family: var(--font-poppins);
    color: var(--color-gray-100);
    text-align: justify;
    display: inline-block;
}

.find-out-what2,
.find-out-what3 {
    position: absolute;
    left: 0;
    line-height: 97.3%;
    display: inline-block;
}

.find-out-what2 {
    width: 100.89%;
    top: calc(50% - 191.3px);
    font-size: 20px;
    height: 107.1px;
}

.find-out-what3 {
    width: 93.01%;
    top: calc(50% - 128.4px);
    font-size: var(--font-size-base);
    font-weight: 600;
}

.content1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 326px;
    height: 389px;
    overflow: hidden;
}

.image-icon1 {
    position: absolute;
    top: 42.9px;
    left: 367.9px;
    width: 228.1px;
    height: 256.9px;
    object-fit: cover;
}

.frame6 {
    position: relative;
    height: 389px;
    width: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.content2,
.frame5 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.frame5 {
    position: absolute;
    top: 839px;
    width: 606.3px;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-2xs);
    margin: 0px;
}

.content2 {
    width: 326px;
    height: 266px;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xs);
}

.frame7,
.frame8 {
    display: flex;
    align-items: center;
}

.frame8 {
    width: 596px;
    height: 266px;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--gap-22xl);
}

.frame7 {
    position: absolute;
    top: 2328px;
    width: 606.3px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

.image-icon3 {
    position: absolute;
    top: 79.9px;
    left: 367.9px;
    width: 228.1px;
    height: 256.9px;
    object-fit: cover;
}

.content4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 326px;
    height: 395.4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8.176448822021484px 0 0;
    box-sizing: border-box;
    gap: var(--gap-6xs);
}

.content3 {
    position: relative;
    width: 596px;
    height: 395.4px;
}

.content6,
.frame9 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.frame9 {
    position: absolute;
    top: 2915.5px;
    width: 606.3px;
    align-items: center;
    justify-content: center;
}

.content6 {
    width: 326px;
    height: 334.7px;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5.6324462890625px 0 0;
    box-sizing: border-box;
    gap: var(--gap-6xs);
}

.content5,
.frame10 {
    display: flex;
    align-items: center;
}

.content5 {
    width: 596px;
    height: 334.7px;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--gap-22xl);
}

.frame10 {
    position: absolute;
    top: 3836.9px;
    width: 606.3px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

.image-icon5 {
    position: absolute;
    top: 9.3px;
    left: 0;
    width: 228.1px;
    height: 256.9px;
    object-fit: cover;
}

.content7 {
    position: absolute;
    top: 0;
    left: 270px;
    width: 326px;
    height: 301px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3.1318845748901367px 0;
    box-sizing: border-box;
    gap: var(--gap-6xs);
}

.frame12 {
    position: relative;
    width: 596px;
    height: 301px;
}

.frame11 {
    position: absolute;
    top: 1997.5px;
    width: 606.3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-icon6 {
    position: absolute;
    top: 48.6px;
    left: 0;
    width: 228.1px;
    height: 256.9px;
    object-fit: cover;
}

.find-out-what12 {
    position: relative;
    line-height: 97.3%;
    display: inline-block;
    width: 326px;
}

.content8 {
    position: absolute;
    top: 0;
    left: 270px;
    width: 326px;
    height: 380px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8.266845703125px 0;
    box-sizing: border-box;
    gap: var(--gap-6xs);
}

.frame14 {
    position: relative;
    width: 596px;
    height: 380px;
}

.frame13 {
    position: absolute;
    top: 1257.5px;
    width: 606.3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.content9,
.frame16 {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

.content9 {
    width: 326px;
    height: 259px;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.8150982856750488px 0 0;
    gap: var(--gap-6xs);
}

.frame16 {
    width: 596px;
    height: 262.5px;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 0 0.0000095367431640625px;
    gap: var(--gap-22xl);
}

.frame15 {
    position: absolute;
    top: 2623.5px;
    width: 606.3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-icon8 {
    position: absolute;
    top: 114.6px;
    left: 0;
    width: 228.1px;
    height: 256.9px;
    object-fit: cover;
}

.delivering-newslette8 {
    position: absolute;
    width: 100%;
    top: calc(50% - 144.5px);
    left: 0;
    line-height: 20px;
    font-family: var(--font-poppins);
    color: var(--color-gray-100);
    text-align: justify;
    display: inline-block;
}

.find-out-what16,
.find-out-what17 {
    position: absolute;
    width: 93.01%;
    left: 0;
    line-height: 97.3%;
    display: inline-block;
}

.find-out-what16 {
    top: calc(50% - 233.5px);
    font-size: 21px;
}

.find-out-what17 {
    top: calc(50% - 168.4px);
    font-size: var(--font-size-base);
    font-weight: 600;
}

.content10 {
    position: absolute;
    top: 0;
    left: 270px;
    width: 326px;
    height: 467px;
    overflow: hidden;
}

.frame18 {
    position: relative;
    width: 596px;
    height: 467px;
}

.frame17 {
    position: absolute;
    top: 3340.4px;
    width: 606.3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-2xs);
}

.hero-icon,
.rectangle-icon {
    position: absolute;
    top: 561.6px;
    left: 0;
    width: 520px;
}

.rectangle-icon {
    border-radius: 400px;
    height: 1365.6px;
    mix-blend-mode: multiply;
    top: 0px;
}

.hero-icon {
    height: 461px;
    object-fit: cover;
    top: 532px;
}

.opening-launching,
.space-coffee-invites-container {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}

.opening-launching {
    line-height: 79.71%;
    font-weight: 600;
    width: 446px;
    height: 73px;
}

.space-coffee-invites-container {
    font-size: 14px;
    line-height: 24px;
    font-family: var(--font-poppins);
    color: var(--color-gray-100);
    width: 444.3px;
    height: 166.9px;
}

.opening-launching-parent {
    position: absolute;
    top: calc(50% + 252.8px);
    left: 37.2px;
    width: 446px;
    height: 342px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 106px 0 0;
    box-sizing: border-box;
    gap: 10px;
}

.hero {
    position: relative;
    width: 520px;
    height: 1365.6px;
}

.frame19 {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 46px;
    position: relative;
    top: -584px;
}

.header-child,
.mezcaleando-icon {
    position: relative;
    width: 208.1px;
    height: 19.4px;
}

.header-child {
    width: 27.6px;
    height: 36.8px;
}

.header {
    height: 36.8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 227px;
    width: 100%;
}

.frame20 {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
}

.email-coworking-light {
    position: relative;
    width: 100%;
    height: 4619px;
    overflow: hidden;
    opacity: 0;
    text-align: left;
    font-size: var(--font-size-8xl);
    color: var(--color-gray-200);
    font-family: var(--font-el-messiri);
    justify-content: center;
}
